*.o
*.obj
*.out
*.exe
*.a
*.lib
*.so
*.dll
*.dylib


build/*
!build/.gitkeep

*.d
*.i
*.s
*.gcda
*.gcno
*.gcov
core
vgcore.*


.vscode/
.vs/
.idea/
cmake-build-*/
*.swp
*~
*.suo
*.user

.DS_Store
Thumbs.db
desktop.ini

*.log
tmp/


panacee
