*.o
*.obj
*.out
*.exe
*.a
*.lib
*.so
*.dll
*.dylib


apps/panacee-genetics/bin/*
!apps/panacee-genetics/bin/.gitkeep

*.d
*.i
*.s
*.gcda
*.gcno
*.gcov
core
vgcore.*


.vscode/
.vs/
.idea/
cmake-build-*/
*.swp
*~
*.suo
*.user

.DS_Store
Thumbs.db
desktop.ini

*.log
tmp/


panacee
panacee-no-mlv

dist

docs/libraries/mlv
